<div>
    <div id="image" routerLink="/program"></div>
    <div routerLink="/details" *ngIf="isParentMode">
        <form class="b-form" >
            <tui-select
                tuiTextfieldSize="l"
                [formControl]="testValue"
            >
                Program
                <input
                    placeholder="Choose your child's program"
                    tuiTextfield
                />
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="programIDs"
                ></tui-data-list-wrapper>
            </tui-select>
            </form>
        <button class="tui-space_right-3 tui-space_bottom-3" [size]="'m'" tuiButton class ="button" (click)="changeValue()">change program</button>
    </div>
    <button routerLink="/personal" appearance="outline" class="tui-space_right-3 tui-space_bottom-3" [size]="'m'" tuiButton class ="button" (click)="changeValue()">View Thuto Report</button>
    <div id="explainer">
        <h2>Balanced Program:</h2>
        <h2>Description:</h2>
        <p>The Maths Lit Program is crafted for you to be recognized and rewarded for exceptional performance in mathematical literacy.
        </p>
        <h2>Benefits:</h2>
        <p>Offers a comprehensive educational experience, encouraging students to excel in mathematical literacy.
        </p>
        <h2>How it works:</h2>
        <p>
            Attain a score of at least 50% in your classtests and exams (the universal pass mark).

 <br><br>
 
Sustain scores above 50% to earn 1.1x more Thuto Coins.

 <br><br>
 Engage in additional support sessions like Thuto Stories to earn Thuto Coins on a daily basis .

 .
                  <br>
                  <br>
                  
Achieving a 50% score activates 50% of the Thuto Coins, with the remaining 50% determined by personal performance, motivating you to excel.</p>
    </div>
</div>