#container
    display: flex
    justify-content: center
    align-items: center
    padding:2vw

#content
    flex-basis: 35vw

#image
    flex-basis: 25vw

.img
    height: 20vw

#header
    font-size: 2.0vw
    max-width: 50vw
    font-weight: 600
    padding-bottom: 1vw

#content
    font-size: 1vw