<div id="container">
    <div id="content">
        <div id="padder">
            <div id="title">
                Points and Rewards
            </div>
            <div id="input">
                <form [formGroup]="searchForm">
                    <tui-input 
                    formControlName="value" 
                    [tuiTextfieldIconLeft]="'tuiIconSearchLarge'" 
                    >
                     Search
                      <input tuiTextfield />
                    </tui-input>
                  </form>
            </div>
            <app-custom-tab [items]="items" [isProgram]="false"></app-custom-tab>
        </div>
        <tui-loader
        
        [overlay]="true"
        [showLoader]="loader">
        <div *ngIf="activeItemIndex==0">
            <section class="wallet">
            <div class="balance">
                <ul>
                <li id="title-wallet">Your wallet balance</li>
                <li id="balance-wallet"><b>TC {{balance}}</b></li>
                </ul>
            </div>
            <div class="button-options">
                <ul class="options">
                <li>
                    <figure *ngIf="mode">
                    <img src="../../../../assets/top_up.png" alt="top up" class="image" routerLink="/top-up" />
                    <figcaption class="caption" >Top up</figcaption>
                    </figure>
                </li>
                <li>
                    <figure *ngIf="!mode">
                    <img src="../../../../assets/save.png" alt="save" class="image" routerLink="/savings"/>
                    <figcaption class="caption" >Save</figcaption>
                    </figure>
                </li>
                <li>
                    <figure *ngIf="!mode">
                    <img src="../../../../assets/redeem.png" alt="redeem" class="image" routerLink="/redeem" />
                    <figcaption class="caption" >Redeem</figcaption>
                    </figure>
                </li>
                </ul>
            </div>
            </section>

            <section class="transactions">
            <div class="border">
                <h4>Recent Transactions</h4>
               
                <div id="transaction-holder">
                    <app-transaction *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction>
                </div>
            </div>
            </section>
        </div>
        <div *ngIf="activeItemIndex==1"  id="padder">
            <div id="center-description">This is the money you have spent throughout our platform</div>
            <div id="total-header">Total spent</div>
            <div id="amount">TC {{spent.toFixed(2)}}</div>

            <div id="transaction-holder">
                <div *ngFor="let t of spent_transactions">
                        <app-transaction [transaction]="t"></app-transaction>
                </div>
            </div>
        </div>
        <div *ngIf="activeItemIndex==2"  id="padder">
            <div id="center-description"> This is money you earned through accomplishments</div>
            <div id="total-header">Total earned</div>
            <div id="amount">TC {{TCCount}}</div>
            <div id="transaction-holder">
                <app-transaction *ngFor="let transaction of schoolearnedTrans" [transaction]="transaction"></app-transaction>
            </div>
        </div>
        <div *ngIf="activeItemIndex==3"  id="padder">
            <div id="center-description">This is the money you have invested throughout our platform</div>
            <div id="total-header">Total invested</div>
            <div id="amount">TC {{saved.toFixed(2)}}</div>
            <div id="transaction-holder">
                <div *ngFor="let transaction of transactions">
                    <div *ngIf="transaction.account.toLowerCase().includes('savings')">
                        <app-transaction [transaction]="transaction"></app-transaction>
                </div>
                </div>
            </div>
        </div>
    </tui-loader>
    </div>
    <div id="bar">
        <app-bottom-menu></app-bottom-menu>
    </div> 
</div>