<div id="container">
    <banner [value]="home_banner"></banner>
    <nav></nav>
    <header [color]="'home-color'" [value]="header_one_home"></header>
    <text [value]="content_one_home" style="color:white"></text>
    <cred></cred>
    <feature [value]="section" [isfeature]="'feature'"></feature>
    <header [color]="'home-color'" [value]="header_two_home"></header>
    <text [value]="content_two_home" style="color:white"></text>
    <review [value]="review1"></review>
    <div id="features">
        <div *ngFor="let feature of features">
            <feature [value]="feature"></feature>
        </div>
    </div>
    <review [value]="review2"></review>
    <header [color]="'home-color'" [value]="header_three_home"></header>
    <text [value]="content_three_home" style="color:white"></text>
    <header [color]="'home-color'" [value]="header_four_home"></header>
    <text [value]="content_four_home" style="color:white"></text>
    <header [color]="'home-color'" [value]="header_five_home"></header>
    <div style="display: flex;justify-content: center;align-items: center;">
        <div id="thutorr">
            <div routerLink="/thutor" id="thuto-button">Tutoring with all the perks of Thuto</div>
        </div>
    </div>
    <footer></footer>
</div>
