<div id="container">

    <div id="image">
        <a href="https://www.itweb.co.za/content/xnklOqz15NLM4Ymz" target="_blank">
            <img src="../../../assets/Telkom Future Makers.png" class="img">
        </a>
    </div>

    <div id="image">
        <a href="https://businessmediamags.co.za/xtrending/thuto-io-the-platform-that-revolutionises-education-in-south-africa-and-beyond/" target="_blank">
            <img src="../../../assets/Business Media Mags.png" class="img">
        </a>
    </div>

    <div id="image">
        <a href="https://uvuafrica.com/blog/thuto-information-a-digital-assessment-platform-runner-up-at-the-uvu-africa-online-tech-pitch-competition/" target="_blank">
            <img src="../../../assets/UVU Africa.png" id="img">
        </a>
    </div>

    <div id="image">
        <a href="https://www.news24.com/news24/specialreports/100mandelas2023/100-young-mandelas-2023-nkosinathi-temba-innovation-20230716" target="_blank">
            <img src="../../../assets/News 24.png" class="img">
        </a>
    </div>
</div>