<div id="container">
    <div id="thuto">
        <div id="logo">t.</div>
        <div>
            <div>Follow us on socials media</div>
            <div id="socials">
                <div id="soc"><a href="https://www.instagram.com/thuto_io/"><img src="../../../assets/instagram.png" alt=""></a></div>
                <div id="soc"><a href="https://www.instagram.com/thuto_io/"><img src="../../../assets/LinkedIn.png" alt=""></a></div>
            </div>
        </div>
    </div>
    <div id="product">
        <div id="header">Products</div>
        <div  routerLink="/thutor">Thutor</div>
    </div>
</div>