<div id="container">
    <div id="content">
        <div id="header">
            <div id="name_welcome">
                <div>Ntsako</div>
                <div id="welcome">Welcome Back</div>
            </div>
            <div id="notification_profile">
                <div><img src="../../../../assets/bell.png" alt=""></div>
                <div routerLink="/login"><img src="../../../../assets/user.png" alt=""></div>
            </div>
        </div>
        <div id="grid">

            <tui-loader
            [overlay]="true"
            [showLoader]="loading"
            >
            <section class="wallet">
                <div class="balance">
                    <div>
                        <div id="logo"><img src="../../../../assets/ablogo.png" width="140px"></div>
                        <ul>
                            <li id="title-wallet">Total Balance</li>
                            <li id="balance-wallet"><b>TC {{balance}}</b></li>
                            </ul>
                    </div>
                   
                </div>
            </section>
            </tui-loader>
            <!-- <div routerLink="/ent-dash" class="wallet"> <div id="wallet-digital" style="justify-content: center; height: 10vh;margin-top:8vh;"> Studentpreneur Dashbaord</div></div> -->
            
            <tui-loader
            [overlay]="true"
            [showLoader]="loading"
            >
            <div id="fq-score">
                <div>
                    <div >Your FQ Score</div>
                    <br/>
                    <div id="fq-title">{{score}}/500</div>

                </div>

                <div>
                    <!-- <tui-ring-chart class="chart" [value]="[perc,residue]" [size]="'m'">
                    </tui-ring-chart> -->
                    <img [src]="'../../../../assets/'+animal+'.png'" alt=""/>
                </div>
            </div>
            </tui-loader>

            <tui-loader
            [overlay]="true"
            [showLoader]="loading"
            >
            <div id="acedemics">Academic Progress</div>
            <div id="side">
                <div *ngFor="let item of subjectStats">
                    <app-subject-summary [stats]="item"  (click)="showAssessments(item.subjectName)" ></app-subject-summary>
                </div>
            </div>
            </tui-loader>
        </div>
    </div>
    <div id="bar">
        <app-bottom-menu></app-bottom-menu>
    </div> 
</div>
